html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #3b4648 ;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
h1{
	margin-top: 50px;
	margin-left: 50px;
	font-family: 'Istok Web', sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #94c56a;

}

.quizbox{
	height: 480px;
	width: 560px;
	position: relative;
	top: 60px;
	left: 20%;
	background-color: #e27453;
  	border-radius: 5px;
  	border-style: none;
}
.question{
	font-family: 'Istok Web', sans-serif;
	font-size: 19px;
	color: white;
	position: absolute;
	top: 4%;
	left:5%;
	width: 420px;
	height: 38px;
}

table{
	border-spacing: 40px 40px;
	height: 400px;
	width: 500px;
	margin: 0 auto 0 auto;
	position: relative;
	top: 40px;
	border-radius: 30px;
	border-style: none;
	font-family: WOL_SB, 'Segoe UI Semibold', 'Segoe UI', Tahoma, Helvetica, sans-serif;
}
	td{
		border: 1px solid black;
		border-radius: 6px;
		width: 240px;
		background-color: #3656d5;
		border-style: none;
	}
	span{
		margin-left: 3px;
		color: white;
		
	}

	td p{
		text-align: center;
		margin-top:30px;
		color: white;
		
		font-size: 18px;
	}

/*.btm{
	margin-left: 225px;
	margin-top: 40px;
}*/
.score{
	position:absolute;
	left: 320px;
	bottom:	15px;
	color: white;
	font-family: WOL_SB, 'Segoe UI Semibold', 'Segoe UI', Tahoma, Helvetica, sans-serif;
	font-size: 12px;

}
button{
	background-color: #7cc576;
	border-radius: 3px;
	position: absolute;
	left: 435px;
	bottom: 40px;
	border-style: none;
	line-height: 20px;
	outline: none;
	width: 60px;	
	font-family: WOL_SB, 'Segoe UI Semibold', 'Segoe UI', Tahoma, Helvetica, sans-serif;
}

.pic {
	position: absolute;
	left: 720px;
	top: 40px;	
}
.smiley{
	/*display: none;*/
}
.sad{
	display: none;
}
.highlight{
	background-color:#7cc576 ;
}
.timer {
    border-style: none;
    width:60px;
    height:100px;
    line-height:100px;
    font-size:72px;
    font-family: WOL_SB, 'Segoe UI Semibold', 'Segoe UI', Tahoma, Helvetica, sans-serif;
    text-align:center;
    margin:5px;
    position: relative;
    left: 840px;
    bottom: 150px;
}